.row
  .col-xs-10.col-xs-offset-1
    %section.panel
      .panel-body
        %table.table.table-condensed
          %thead
            %th Number
            %th Name
            %th Description
            %th Created
          %tbody
            - @rooms.each do |room|
              %tr
                %td= room[:id]
                %td= link_to room[:name], chat_path(room[:uuid])
                %td= room[:description]
                %td= Time.now.to_formatted_s(:short)
            = link_to "Create Chat", new_chat_path, class: 'btn btn-success'
