.hero.banner
  %h1.hero-text What do you need help with?
.container
  .row
    .col-xs-12.col-sm-3.category-tile.laundry
      .black-overlay
        %h2.hero-text Appliance Repair
    .col-xs-12.col-sm-3.category-tile.basement
      .black-overlay
        %h2.hero-text Basement Renovation
    .col-xs-12.col-sm-3.category-tile.carpet
      .black-overlay
        %h2.hero-text Carpet Cleaning
  .row
    .col-xs-12.col-sm-3.category-tile.duct
      .black-overlay
        %h2.hero-text Duct Cleaning
    .col-xs-12.col-sm-3.category-tile.hard-hat
      .black-overlay
        %h2.hero-text General Contractors
    .col-xs-12.col-sm-3.category-tile.heating
      .black-overlay
        %h2.hero-text Heating & Air Conditioning
  .row
    .col-xs-12.col-sm-3.category-tile.plumbing
      .black-overlay
        %h2.hero-text Plumbing
    .col-xs-12.col-sm-3.category-tile.roofing
      .black-overlay
        %h2.hero-text Roofing
    .col-xs-12.col-sm-3.category-tile.door
      .black-overlay
        %h2.hero-text Window & Door Installation

.row.listing-page
  .col-xs-10.col-xs-offset-1
    %section.panel
      .panel-body
        %table.table.table-condensed
          %thead
            %th Number
            %th Name
            %th Description
            %th Created
          %tbody
            - @rooms.each do |room|
              %tr
                %td= room[:id]
                %td= link_to room[:name], chat_path(room[:uuid])
                %td= room[:description]
                %td= Time.now.to_formatted_s(:short)
            = link_to "Create Chat", new_chat_path, class: 'btn btn-success'
