%html
  %head
    %title= 'Vidhelp'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{content: "IE=Edge", :'http-equiv' => 'x-ua-compatible'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    #container
      = render 'main/topbar'
      .container
        = yield
